.open {
    color: blue;
}

.container-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px; /* Ustal szerokość karuzeli */
    margin: auto; /* Wyśrodkuj karuzelę */
  }
  
  .carousel-inner {
    width: 100%;
    height: 450px; /* Wysokość karuzeli */
    overflow: hidden; /* Ukrywa elementy wykraczające poza kontener */
  }
  
  .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Dopasowanie do kontenera przy zachowaniu proporcji */ 
  }
  @media (max-width: 767px) {
    .container-home {
      width: 100%; /* Dopasowanie szerokości do ekranu na urządzeniach mobilnych */
      padding: 0 10px; /* Opcjonalne marginesy wewnętrzne po bokach */
    }
  
    .carousel-inner {
      height: 250px; /* Mniejsza wysokość karuzeli na mniejszych ekranach */
    }
    .clown-pic {
        width: 100%;
    }
  }
  .timer {
    font-family: "Danfo", sans-serif;
    font-weight: 200;
    font-style: normal;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }